.footer__policy {
  color: #949494;
  margin-top: auto;
  font-size: 0.9375rem;
  line-height: 1;
  transition: color 0.2s linear;
  display: block;
  max-width: 225px;
}

.footer__policy:hover,
.footer__policy:active {
  color: #e6e6e6;
}

@media screen and (max-width: 600px) {
  .footer__policy {
    margin-top: 25px;
  }
}
