.footer__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 44px;
  column-gap: 52px;
  margin-bottom: 42px;
}

@media screen and (max-width: 764px) {
  .footer__grid {
    grid-template-columns: 1fr;
    justify-items: start;
  }
}
@media screen and (max-width: 600px) {
  .footer__grid {
    row-gap: 34px;
    margin-bottom: 32px;
  }
}
