@import url(./__fieldset/form__fieldset.css);
@import url(./__title/form__title.css);
@import url(./__input/form__input.css);
@import url(./__btn/footer__btn.css);

.form {
  background-color: #fff;
  box-shadow: -5px 5px 0px #ffc41d;
  border-radius: 5px;
  max-width: 458px;
  margin-right: 96px;
  margin-left: 6px;
}

@media screen and (max-width: 764px) {
  .form {
    margin-right: 64px;
  }
}

@media screen and (max-width: 600px) {
  .form {
    margin-right: 0;
    margin-bottom: 57px;
  }
}