@import url(./_margin/_small/footer__link_margin_small.css);

.footer__link {
  text-decoration: none;
  color: white;
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
}

.footer__link:after {
  background-color: white;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.footer__link:hover:after,
.footer__link:focus:after {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .footer__link {
    font-size: 0.875rem;
  }
}
