.hero__btn {
  padding: 24px 42px;
  max-width: 300px;
  width: 100%;
  height: 65px;
}

@media screen and (max-width: 600px) {
  .hero__btn {
    text-align: center;
    height: 44px;
    padding: 0;
  }
}